.seance-day {
    padding-top: 30px;
}

.hall-name {
    padding-top: 10px;
}

.seat-button {
    width: 60px;
    border: 1px solid #000;
}

.seat-button.busy {
    background-color: #f44336;
}

.seat-button.free {
    background-color: #4CAF50;
    cursor: pointer;
}

.seat-button.reservation {
    background-color: #1d643b;
}

.seat-button.reservation:hover {
    background-color: #1d643b !important;
}

.seat-button.my:hover {
    background-color: #545a5c !important;
}

.seat-button.my {
    background-color: #2e3436;
    cursor: pointer;
}

.seat-button.free:hover {
    background-color: #1b4b72;
}

.seat-row-container {
    display: flex;
}

.places-container {
    max-width: 900px;
}
